.text-negative{
  color: rgb(53, 46, 2); 
  mix-blend-mode: difference;
  filter: invert();
}

.nav#navDropdown{
  mix-blend-mode: normal !important;
  filter: none !important;
}

.title-fluid{
  font-size: clamp(2rem, 15vw, 4rem);
}

