.text-negative{
  color: rgb(53, 46, 2); 
  mix-blend-mode: difference;
  filter: invert();
}

.nav#navDropdown{
  mix-blend-mode: normal !important;
  filter: none !important;
}

.title-fluid{
  font-size: clamp(2rem, 15vw, 4rem);
}

.animate-fadeIn{
  transform-origin: left;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn{
  from{
    opacity: 0;
    transform: scaleX(0) ;
  }
  to{
    opacity: 1;
    transform: scaleX(1) ;

  }
}
