@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gochi+Hand&family=Reenie+Beanie&family=Rubik+Mono+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
@import "tailwindcss";


:root{
  --font-bebas: 'Bebas Neue', sans-serif;
  --font-reenie: 'Reenie Beanie', cursive;
  --font-rubik: 'Rubik Mono One', sans-serif;
  --font-work: 'Work Sans', sans-serif;
  --font-gochi: 'Gochi Hand', sans-serif;
  --screen-limit: 1440px;
}

/* Custom utility classes for your fonts */
.font-bebas {
  font-family: var(--font-bebas);
}

.font-reenie {
  font-family: var(--font-reenie);
}

.font-rubik {
  font-family: var(--font-rubik);
}

.font-work {
  font-family: var(--font-work);
}

.font-gochi{
  font-family: var(--font-gochi);
}

@theme {
  /* Core Colors Only */
  --primary: theme(colors.emerald.400);    /* Main emerald color */
  --secondary: theme(colors.yellow.400);                    /* Copper tone for interactions */
  --default: theme(colors.yellow.50);                           /* Off-white background */
  --text: #000000;                         /* Soft black text */
}

/* Ultra Simple Utility Classes */
.bg-primary { background-color: var(--primary); }
.bg-secondary { background-color: var(--secondary); }
.bg-default{ background-color: var(--default); }

.text-primary { color: var(--primary); }
.text-secondary { color: var(--secondary); }
.text-default { color: var(--text); }
.text-bg{ color: var(--default); }
.text-shadow{
  text-shadow: 0px 4px 3px rgba(0,0,0,0.30) ;
}
.text-shadow-sm{
  text-shadow: 0px 4px 4px rgba(0,0,0,0.25) ;
}

body{
  background-color: var(--default);
}

.text-select::selection{
  background-color: black;
  color: var(--default);
}

.border-primary { border-color: var(--primary); }
.border-secondary { border-color: var(--secondary); }

@keyframes randomShift {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(calc(var(--random, 5) * 1rem)); } /* Randomize */
}

.animate-randomShift1 {
  animation: randomShift 2s infinite alternate ease-in-out;
}
.animate-randomShift2 {
  animation: randomShift 4s 1s infinite alternate ease-in-out;
}
.animate-randomShift3 {
  animation: randomShift 6s 4s infinite alternate ease-in-out;
}
.animate-randomShift4 {
  animation: randomShift 1s 3s infinite alternate ease-in-out;
}

.animate-sway{
  animation: sway 15s alternate-reverse infinite ease-in-out;
}

@keyframes sway{
  from{
    scale:1.05;
    rotate: 2deg;
    translate: 1px 5px;
  }
  50%{
    scale: 0.95;
    rotate: -2deg;
    translate: 1px 5px;
  }
  to{
    scale:1;
    rotate: -1deg;
    translate: 1px 5px;
  }
}

